html{
    scroll-behavior: smooth;
}

body {
    font-family: orbitron, sans-serif;
    font-weight: normal;
}

header {
    background: rgba(29, 28, 28, 0.733);
    padding: 10px;
}

#caixa {
    position: relative;
    width: 1200px;
    height: 200px;
    left: 50px;
}

#logo {
    width: 200px;
    height: 200px;
    padding-left: 120px;
}

nav {
    text-align: center;
    position: absolute;
    top: 100px;
    right: 0px;
    left: 250px;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #FFF;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    transition: 1s all;
    cursor: pointer;
}

nav a:hover {
    color: #C78C19;
    font-size: 24px;
    text-decoration: underline;
    transform: scale(0.7);
}

#image-initial {
    background: url("../img/initial.png")  no-repeat scroll left;
    background-size:100% 100%;
    width: 100%;
}

#principal{
	padding: 2em 0 0 0;
}

#principal p{
	margin: 0 0 1em;
	font-weight: normal;	
    font-size: 18px;
}

#principal h1 {
    margin-top: 80px;
	font-weight: bold;
    font-size: 30px;
    text-align: center;
}

#quem-somos {
    margin: 0 40px;
}

#quem-somos h1 {
    margin-top: 0px;
	font-weight: bold;
    font-size: 30px;
    text-align: center;
}

#horario-funcionamento {
    margin-top: 30px;
    background-color: rgb(80, 80, 80);
    color: white;
    text-align: center;
}

#horario-funcionamento h1 {
    margin-top: 0px;
    font-weight: normal;
}

.horarios {
    background-color:#fff;
    opacity: 0.8;
    color: black;
    display: inline-flex;
    padding: 30px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    align-items: center;
}


.horarios h2 {
    font-size: 30px;
    font-weight: bold;
}

#servicos {
    margin: 0 40px;
}

#servicos h1 {
    margin-top: 30px;
}

#galeria {
    background-image: linear-gradient(rgb(255, 255, 255), rgb(80, 80, 80), rgb(255, 255, 255));
    text-align: center;
}


#galeria h1 {
    margin-top: 30px;
}

.galeria {
    width: 25%;
    display: inline-block;
    padding: 30px;
    height: 400px;
}

footer {
	padding: 20px 0;
    padding-bottom: 40px;
    height: 80px;
}

#copyright {
    font-weight: lighter;
	color: #000;
	font-size: 16px;
    position: absolute;
    right: 250px;
    margin-right: 120px;
    padding-top: 40px;
    /*float: right;*/
}

#logo-footer {
    width: 100px;
    height: 100px;
    margin-left: 400px;
   float: left;
}
